<% include partials/header %>

<div class="admin container">
    <h1 class="admin-header jua">View All The Bookings</h1>
    <table class="table table-hover">
        <thead>
            <tr class="success orange">
            <th>Date </th>
            <th>Time </th>
            <th>User </th>
            <th>Mobile </th>
            <th>Address </th>
            <th>Service </th>
            <th>DogBreed </th>
            <th>Comment </th>
          </tr>
        </thead>
        <tbody>
            <% for(let i=0;i< apps.length;i++){%>
              <tr class="danger">
                <td><%=apps[i].date %></td>
                <td><%=apps[i].time%></td>
                <td><span><%=owners[i].firstName %> </span>
                    <span><%= owners[i].lastName%></span></td>
                <td><%=owners[i].mobileNumber %></td>
                <td><%=owners[i].homeAddress%></td>
                <td><%=apps[i].service%></td>
                <td><%=apps[i].dogBreed%></td>
                <td><%=apps[i].comment%></td>
              </tr>
        <% }%>
        </tbody>
    </table>
</div>


<% include partials/footer %>